<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- Cette section définit la configuration de l'enregistrement dans le fichier journal de My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Supprimez les marques de commentaire dans la section suivante pour écrire dans le journal des événements de l'application -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Supprimez les marques de commentaire dans la section suivante et remplacez APPLICATION_NAME par le nom de votre application à écrire dans le journal des événements de l'application -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <My.MySettings>
            <setting name="frmGravityNetPos" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="frmGravityNetTaille" serializeAs="String">
                <value>800, 500</value>
            </setting>
            <setting name="bAffichageBanniere" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TxtBanniere" serializeAs="String">
                <value>Gravity.Net  Screen Saver</value>
            </setting>
            <setting name="FiltreFichiersImgFond" serializeAs="String">
                <value>Images\Space\*.jpg</value>
            </setting>
            <setting name="FiltreFichiersImgSprite" serializeAs="String">
                <value>Images\Star_*.*</value>
            </setting>
            <setting name="DegreRacine" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="DegreRacine_bRnd" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DegreRacineRndMax" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="DegreRacine2" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="DegreRacine2_bRnd" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DegreRacine2RndMax" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="bMasseSym" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bMasseSym_bRnd" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="b3D" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="b3D_bRnd" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bChocs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bChocs_bRnd" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bCercle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ForceGravitation" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="DelaiMiliSec" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TempsMaxScenarioSec" serializeAs="String">
                <value>180</value>
            </setting>
            <setting name="bImageFond" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bMAJToutLEcran" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bMAJGroupeSprites" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bNePasInitFond" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bNePasBufferiserGr" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bFondUni" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bFondDegrade" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="b3D_bPlanetesAxeV" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="b3D_bPlanetesAxeV_bRnd" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="b3D_iNbPlanetesMaxAxeV" serializeAs="String">
                <value>5</value>
            </setting>
        </My.MySettings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
